# fly.toml app configuration file generated for eefu-api on 2026-02-04T18:48:42-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'eefu-api'
primary_region = 'sjc'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
